blinker==1.6.2
certifi==2023.7.22
datadog==0.21.0
flask==2.2.5
honcho==1.1.0
python-jose[cryptography]==3.3.0
markdown==3.4.4
mywsgi==1.0.3
redis==5.0.0
sentry-sdk==1.9.8
structlog-sentry==2.0.0
urllib3==1.26.16
werkzeug==2.3.7
